@font-face{
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face{
  font-family: "Cormorant";
  src: url('../fonts/Cormorant-VariableFont_wght.ttf');
  font-weight: 400;
  font-display: swap;
}