@import url(../css/media.css);
@import url(../css/var.css);
@import url(../css/fonts.css);
@import url(../css/setting.css);
@import url(../css/grid.css);

/* header */
@import url(block/_js.css);


@import url(css/block/_slider.css);
@import url(css/block/_logo.css);
@import url(css/block/_header.css);

/* main */
@import url(css/block/_hero.css);
@import url(css/block/_gallery.css);
@import url(css/block/_link.css);
@import url(css/block/_about.css);
@import url(css/block/_contact.css);

/* footer */
@import url(css/block/_footer.css);

