* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: OpenSans, sans-serif, sans-serif;
  font-size: 16px;
}

.main {
  background-color: var(--background);
}

.background_image {
  padding-top: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1174px;
}

.title {
  color: var(--white);
}

.arrow {
  display: flex;
  justify-content: center;
  gap: 110px;
}

.text_link{
  text-decoration: none;
}