:root{
  --open: 'OpenSans';
  --cormorant: 'Cormorant';
  --background: #1D2F30;
  --primary_green: #BAE249;
  --white: #ffffff;
  --color-gray: #899D9D;
  --background_shade: #0B1919;
  --green_text: #506829;
  --green_hover: #91AC46;
  --green_active: #688B05;
}